@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap, https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 22px;
}
.logo {
    width: 150px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
header{
    background-color: #7EBCB8;
    display: grid;
    grid-template-columns: 150px auto;
    padding: .5em;
    position:relative;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
nav a{
    text-align: center;
    color: #2A5450;
    text-decoration: none;
    font-family: Bungee, Segoe UI, sans-serif;
    font-size: 1.5em;
    padding: 1em;
    justify-content: space-around;
}
nav a:hover{
    color: #845872;
    text-decoration: underline wavy;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title{
    color: #2A5450;
    font-size: 2.5em;
    margin-top: 40px;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#herobox{
    grid-column: 1/4;
    grid-row: 1/4;
    background: linear-gradient(to bottom, rgba(0,0,0,.65) 0%,rgba(0,0,0,0.20) 100%);
}
#hero-img{
    position: relative;
    width:100%;
    z-index: -1;
    display: block;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 100px;
}
#hero-msg h1{
    text-align: center;
    font-family: Bungee, Segoe UI, sans-serif;
    color: aliceblue;
}
#hero-msg h4{
    text-align: center;
    font-family: Montserrat, Helvetica, sans-serif;
    color: aliceblue;
}
h2{
    font-family: Bungee, Segoe UI, sans-serif;
    margin: 0;
}
h4{
    color: #535353;
}
.button-box{
    text-align: center;
    margin: 2em;
}
main section{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains{
    width: 100%;
}
main section img{
    box-sizing: border-box;
}
#background{
    height: 725px;
}
.book, .join{
    background-color: #2A5450;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Bungee, Segoe UI, sans-serif;
    padding: .5em 2em;
    margin-top: 50px;
    border-radius: 15px;
    transition: all .5s;
}
.book:hover, .join:hover{
    background-color: whitesmoke;
    color: #2A5450;
}
#background{
    background-color: #845872;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
.card-img{
    border: 10px solid black;
    width: 100%;
    height: auto;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg{
    background-color: #7EBCB8;
    padding: 30px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}
.msg h2{
    color: #2A5450;
    font-family: Bungee, Segoe UI, sans-serif;
    font-size: 2em;
}
.msg p{
    color: #2A5450;
    font-size: 1em;
    line-height: 1.5em;
    padding: 15px;
}
footer{
    background-color: #2A5450;
    color: whitesmoke;
    font-size: .5em;
    padding: 20px 60px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: whitesmoke;
    text-decoration: none;
    
}
footer a:hover{
    color: #7EBCB8;
}
footer p a:hover{
    text-decoration: underline wavy;
}
footer p{
    font-size: 2em;
}
footer .social img{
    padding-top: 15px;
}
.icon{
    width: 80px;
}

/*THIS IS THE FAQ PAGE*/

#faq-page{
    width: 100%;
}
.faq-img{
    background-size: 100%;
}
.accordion {
    background-color: whitesmoke;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    font-size: 18pt;
    font-family: Monserrat, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .faq-img{
    width: 1600px;
  }
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: whitesmoke;
    display: none;
    overflow: hidden;
  }
  .accordion:after {
    content: '\2B9F'; /* Unicode character for "plus" sign (+) */
    color: #000000;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2B9D"; /* Unicode character for "minus" sign (-) */
  }
  /* CONTACT US STYLES */
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 200;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
/* .moveDown {
    margin-top: 3em;
} */
  body {
    /* Center the form on the page */
    text-align: center;
  }
  
  form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 1em;
    margin: 100px;
  }
  
  p + p {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, text areas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Set the outline width and style */
    outline-style: solid;
    /* To give a little highlight on active elements */
    outline-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
         