body{
    margin: 0;
}
    #hero img{
    width: 100%;
    display: flex;

}
#imagesection{
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.circle{
    border-color: rgb(73, 73, 73);
    border-radius: 50%;
    border-width: 50px;
    border-style: solid;
    width: 300px;
    margin: 100px 50px;
    
}