body{
    background-color: #3b3b3b;
    color: white;
    font-family: Roboto, Arial, sans-serif;
} 
a{
    color:rgb(100, 175, 186);
    padding: 25px;
}
nav a{
    text-decoration: none;
}
a:hover{
    background-color: rgb(100, 175, 186);
    color: white;
}
nav{
    background-color: rgb(237, 237, 237);
    justify-content: space-around;
    display:flex;
}
#content{
    background-color: rgb(100, 175, 186, .7);
    max-width: 1000px;
    margin: 0 auto;
}
h1{
    text-align: center;
    
}
img {
    width: 95%;
    margin: 0 auto;
    display:block;
}
main p{
    text-align: center;
}
footer{
    background-color: darkolivegreen;
}