body{
    background-color: #3b3b3b;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    margin:0;
    padding: 0;
} 
a{
    color:rgb(9, 43, 70);
    padding: 25px;
}
nav{
    width: 75%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgb(237, 237, 237);
    justify-content: space-around;
    display:flex;

}
nav a{
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(100, 175, 186);
    color: white;
}
#content{
    background-color: rgb(100, 175, 186, .7);
    max-width: 1000px;
    margin: 2em auto;
    padding: 1em;
    border-radius: 15px;
}
h1{
    text-align: center;
    
}
img {
    width: 95%;
    margin: 0 auto;
    display:block;
}
hr{
    margin: 3em 0 0 0;
}
main p{
    text-align: left;
    margin: 2em auto;
    padding: 30px;
}
footer{
    background-color: darkolivegreen;
}